name: Build Executable with PyInstaller

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install PyInstaller and build executable
        run: |
          pyinstaller app.spec

      - name: Upload executable artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-svc-edit
          path: dist/svc-edit.exe


  release:
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: windows-svc-edit
          path: ./assets
      
      - name: Release executable
        uses: ncipollo/release-action@v1
        with:
          artifacts: "assets/*/*.exe"
          generateReleaseNotes: true
